<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollbootheventssanaraya;AccountKey=yO3otHiBOYfJddBUl1HwoOcUamaO+QIspgmYJBMCGWu9ingS8+TFoNL1SqmUzdoUQTsKnFCNAXpqhzJEV06FiA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>